# Clerk Configuration
# Get your publishable key from https://dashboard.clerk.com
EXPO_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_test_...

# Convex Configuration
# Get your Convex URL from https://dashboard.convex.dev
EXPO_PUBLIC_CONVEX_URL=https://...

# these need to be set in the convex dashboard
CLERK_WEBHOOK_SECRET=
CLERK_JWT_ISSUER_DOMAIN=